*{
padding-top: 0;
margin-top: 0;
}

body{
text-align: center;
background:  url(background/cosmo3.jpg) no-repeat center fixed;
background-size: cover;
background-attachment: fixed
background-color: black;
color: white;
}


p{
text-align: left;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 20px;
margin-bottom: 20px;
display: inline-block;
}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 50px;
}

a, a:hover, a:focus, a:active{
color: #0096FF;
 }

.opção a:hover, a:focus, a:active{
color: Yellow;
 }




@media (min-width: 240px) and (max-width: 479px){

body{
background-size: 480px 700px;
	}

header{
padding-bottom: 0;
}
	
header li{
background: SaddleBrown;
border: 3px solid #C19A6B;
padding: 8px;
margin: 2px;
display: inline-block;
margin-bottom: 7px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 18px;
	}

p{
font-size: 20px;
	}

h1{
font-size: 26px;
	}

.imagem_larga{
height: 230px;
width: 100%;
	}
	
#Atena1{
height:280px;
width: 280px;
}

.imagem_estreita{
height: 300px;
width: 200px;
	}

.bloco{
padding-bottom: 100px;
	}
}


@media (min-width: 480px) and (max-width: 779px){

body{
background-size: 780px 1024px;
	}
	
header{
padding-bottom: 0;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 12px;
margin: 10px;
display: inline-block;
margin-bottom: 14px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 22px;
	}

p{
font-size: 26px;
	}
	
h1{
font-size: 32px;
	}

.imagem_larga{
height: 430px;
width: 100%;
	}
	
#Atena1{
height:480px;
width: 480px;
}

.imagem_estreita{
height: 500px;
width: 400px;
	}

.bloco{
padding-bottom: 250px;
	}

}






