*{
padding-top: 0;
margin-top: 0;
}

body{
text-align: center;
background:  url(background/cosmo2.jpg) no-repeat center fixed;
background-size: cover;
background-attachment: fixed;
background-color: black;
color: white;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 20px;
margin: 10px;
display: inline-block;
margin-bottom: 15px;
}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 50px;
}

.opção a:hover, a:focus, a:active{
color: Yellow;
 }

a, a:hover, a:focus, a:active{
color: #0096FF;
 }

p{
text-align: left;
}

.introdução{
text-align: center;
font-style: oblique;
}

.bloco{
padding-bottom: 400px;
}

.center{
text-align: center;
}





@media (max-width: 480px){

body{
background-size: 480px 700px;
	}

header li{
background: SaddleBrown;
border: 3px solid #C19A6B;
padding: 8px;
margin: 2px;
display: inline-block;
margin-bottom: 7px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 18px;
	}

p{
font-size: 20px;
	}

h1{
font-size: 26px;
	}

audio{
height: 30px;
padding-bottom: 5px;
	}

video{
height: 250px;
width: 100%;
	}

.imagem_larga{
height: 230px;
width: 90%;
	}

.imagem_estreita{
height: 300px;
width: 230px;
	}

.bloco{
padding-bottom: 100px;
	}
}





