*{
padding-top: 0;
margin-top: 0;
}

body{
text-align: center;
background:  url(background/cosmo2.jpg) no-repeat center fixed;
background-size: cover;
background-attachment: fixed;
background-color: black;
color: white;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 20px;
margin: 10px;
display: inline-block;
margin-bottom: 15px;
}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 50px;
}

.opção a:hover, a:focus, a:active{
color: Yellow;
 }

a, a:hover, a:focus, a:active{
color: #0096FF;
 }

p{
text-align: left;
}

#atualizações{
text-align: center;
color: Yellow;
}

.introdução{
text-align: center;
font-style: oblique;
}

#Destaque{
font-weight: Bold;
}

.bloco{
padding-bottom: 400px;
}

.center{
text-align: center;
}





@media (min-width: 240px) and (max-width: 479px){

body{
background-size: 480px 700px;
	}

header li{
background: SaddleBrown;
border: 3px solid #C19A6B;
padding: 8px;
margin: 2px;
display: inline-block;
margin-bottom: 7px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 18px;
	}

p{
font-size: 20px;
	}

#atualizações{
font-size: 24px;
}
	
h1{
font-size: 26px;
	}

audio{
height: 30px;
padding-bottom: 5px;
	}

video{
height: 250px;
width: 100%;
	}

.imagem_larga{
height: 230px;
width: 100%;
	}

.imagem_estreita{
height: 300px;
width: 200px;
	}

#Mu1{
height:300px;
width: 280px;
	}

#Shaka1{
height: 300px;
width: 180px;
}
	
.bloco{
padding-bottom: 100px;
	}
	
}


@media (min-width: 480px) and (max-width: 779px){

body{
background-size: 780px 1024px;
	}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 12px;
margin: 6px;
display: inline-block;
margin-bottom: 14px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 22px;
	}

p{
font-size: 26px;
	}

#atualizações{
font-size: 30px;
}
	
h1{
font-size: 32px;
	}

audio{
height: 35px;
padding-bottom: 12px;
	}

video{
height: 400px;
width: 100%;
	}

.imagem_larga{
height: 430px;
width: 100%;
	}

.imagem_estreita{
height: 500px;
width: 400px;
	}

#Mu1{
height:500px;
width: 480px;
	}

#Shaka1{
height: 500px;
width: 380px;
}
	
.bloco{
padding-bottom: 150px;
	}

}


@media (min-width: 1024px) and (max-width: 1439px){

body{
background-size: cover;
	}

header li{
background: SaddleBrown;
border: 80% solid #C19A6B;
padding: 24px;
margin: 12px;
display: inline-block;
margin-bottom: 28px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 44px;
	}

p{
font-size: 52px;
	}

#atualizações{
font-size: 60px;
}
	
h1{
font-size: 64px;
	}

audio{
height: 70px;
padding-bottom: 24px;
	}

video{
height: 20%;
width: 70%;
	}

.imagem_larga{
height: 40%;
width: 80%;
	}

.imagem_estreita{
height: 60%;
width: 40%;
	}

#Mu1{
height:65%;
width: 45%;
	}

#Shaka1{
height: 60&;
width: 38%;
}
	
.bloco{
padding-bottom: 10%;
	}

}

















