*{
padding-top: 0;
margin-top: 0;
}

body{
text-align: center;
background:  url(background/cosmo2.jpg) no-repeat center fixed;
background-size: 1000px 1800px;
background-attachment: fixed
background-color: black;
color: white;
}

.opção a:hover, a:focus, a:active{
color: Yellow;
 }

a, a:hover, a:focus, a:active{
color: #0096FF;
 }

p{
text-align: left;
}

header{
padding-top: 100px;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 20px;
margin-bottom: 20px;
display: inline-block;
}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 50px;
}

#menu_personagens li{
display: inline-block;
padding-right: 30px;
padding-bottom: 0;
padding-top: 20px;
font-size: 20px;
}

#menu_personagens h1{
padding-top: 20px;
}

#menu_personagens img{
border: 10px solid DarkBlue;
}






@media (min-width: 240px) and (max-width: 480px){

body{
background-size: 480px 700px;
	}

header{
padding-top: 20vh;
}

header li{
background: SaddleBrown;
border: 3px solid #C19A6B;
padding: 8px;
margin: 2px;
display: inline-block;
margin-bottom: 7px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 18px;
	}

p{
font-size: 20px;
	}

h1{
font-size: 26px;
	}

audio{
height: 30px;
padding-bottom: 5px;
	}

video{
height: 250px;
width: 100%;
	}

.imagem_larga{
height: 230px;
width: 100%;
	}

.imagem_estreita{
height: 300px;
width: 200px;
	}

#menu_personagens{
padding-right: 30px;
}
	
#menu_personagens li{
display: inline-block;
padding-right: 10px;
}

#menu_personagens h1{
padding-top: 5px;
font-size: 15px;
}

#menu_personagens img{
border: 5px solid DarkBlue;
height: 100px;
width: 100px;
	}
	
}


@media (min-width: 480px) and (max-width: 779px){

body{
background-size: 780px 1024px;
	}

header{
padding-top: 30px;
}
	
header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 12px;
margin: 6px;
display: inline-block;
margin-bottom: 14px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 22px;
	}

p{
font-size: 26px;
	}

h1{
font-size: 32px;
	}

audio{
height: 35px;
padding-bottom: 12px;
	}

video{
height: 350px;
width: 100%;
	}

.imagem_larga{
height: 400px;
width: 100%;
	}

.imagem_estreita{
height: 500px;
width: 350px;
	}
	
#menu_personagens{
padding-right: 50px;
}
	
#menu_personagens li{
display: inline-block;
padding-right: 15px;
}

#menu_personagens h1{
padding-top: 9px;
font-size: 20px;
}

#menu_personagens img{
border: 8px solid DarkBlue;
height: 200px;
width: 200px;
	}
	
.bloco{
padding-bottom: 150px;
	}

}


@media (min-width: 1024px) and (max-width: 1439px){

body{
background-size: cover;
	}

header{
padding-top: 30px;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 12px;
margin: 6px;
display: inline-block;
margin-bottom: 12px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 30px;
	}

p{
font-size: 32px;
	}
	
h1{
font-size: 40px;
	}

.imagem_larga{
height: 70vh;
width: 80vw;
	}

.imagem_estreita{
height: 70vh;
width: 50vw;
	}

#menu_personagens li{
display: inline-block;
padding-right: 15px;
}

#menu_personagens h1{
padding-top: 15px;
font-size: 28px;
}

#menu_personagens img{
border: 8px solid DarkBlue;
height: 22vh;
width: 14vw;
	}

.bloco{
padding-bottom: 20vh;
	}

}











