*{
padding-top: 0;
margin-top: 0;
}

body{
text-align: center;
background:  url(background/cosmo2.jpg) no-repeat center fixed;
background-size: 1000px 1800px;
background-attachment: fixed
background-color: black;
color: white;
}

.opção a:hover, a:focus, a:active{
color: Yellow;
 }

a, a:hover, a:focus, a:active{
color: #0096FF;
 }

p{
text-align: left;
}

header{
padding-top: 100px;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 20px;
margin-bottom: 20px;
display: inline-block;
}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 50px;
}

#menu_personagens li{
display: inline-block;
padding-right: 30px;
padding-bottom: 0;
padding-top: 20px;
font-size: 20px;
}

#menu_personagens h1{
padding-top: 20px;
}

#menu_personagens img{
border: 10px solid DarkBlue;
}






@media (max-width: 480px){

body{
background-size: 480px 700px;
	}

header{
padding-top: 19px;
}

header li{
background: SaddleBrown;
border: 3px solid #C19A6B;
padding: 8px;
margin: 2px;
display: inline-block;
margin-bottom: 7px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 18px;
	}

p{
font-size: 20px;
	}

h1{
font-size: 26px;
	}

audio{
height: 30px;
padding-bottom: 5px;
	}

video{
height: 250px;
width: 100%;
	}

.imagem_larga{
height: 230px;
width: 100%;
	}

.imagem_estreita{
height: 300px;
width: 200px;
	}

#menu_personagens{
padding-right: 30px;
}
	
#menu_personagens li{
display: inline-block;
padding-right: 10px;
}

#menu_personagens h1{
padding-top: 5px;
font-size: 15px;
}

#menu_personagens img{
border: 5px solid DarkBlue;
height: 100px;
width: 100px;
	}
}
















