*{
padding-top: 0;
margin-top: 0;
}

body{
text-align: center;
background:  url(background/cosmo2.jpg) no-repeat center fixed;
background-size: cover;
background-attachment: fixed;
background-color: black;
color: white;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 20px;
margin: 10px;
display: inline-block;
margin-bottom: 15px;
}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 50px;
}


#explicação{
color: #FFFF66;
}

.opção a:hover, a:focus, a:active{
color: Yellow;
 }

a, a:hover, a:focus, a:active{
color: #0096FF;
 }

p{
text-align: left;
}

#Destaque{
font-weight: Bold;
}

.bloco{
padding-bottom: 400px;
}

.center{
text-align: center;
}





@media (min-width: 240px) and (max-width: 480px){

body{
background-size: 480px 700px;
	}

header li{
background: SaddleBrown;
border: 3px solid #C19A6B;
padding: 8px;
margin: 2px;
display: inline-block;
margin-bottom: 7px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 18px;
	}

p{
font-size: 20px;
	}

h1{
font-size: 26px;
	}
	
#explicação{
font-size: 20px;
}

.imagem_larga{
height: 230px;
width: 100%;
	}

.imagem_estreita{
height: 300px;
width: 200px;
	}
	
#santuário{
height: 300px;
width: 250px;
}

.bloco{
padding-bottom: 100px;
	}
}


@media (min-width: 480px) and (max-width: 779px){

body{
background-size: 780px 1024px;
	}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 12px;
margin: 6px;
display: inline-block;
margin-bottom: 14px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 22px;
	}

p{
font-size: 26px;
	}

h1{
font-size: 32px;
	}
	
#explicação{
font-size: 26px;
}

.imagem_larga{
height: 500px;
width: 100%;
	}

.imagem_estreita{
height: 600px;
width: 450px;
	}
	
.bloco{
padding-bottom: 150px;
	}

}


@media (min-width: 1024px) and (max-width: 1439px){

body{
background-size: cover;
	}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 12px;
margin: 6px;
display: inline-block;
margin-bottom: 12px;
	}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 30px;
	}

p{
font-size: 32px;
	}

h1{
font-size: 40px;
	}

#explicação{
font-size: 32px;
	}

.imagem_larga{
height: 70vh;
width: 80vw;
	}

.imagem_estreita{
height: 70vh;
width: 50vw;
	}

#santuário{
height: 70vh;
width: 40vw;
}

#Soul{
height: 70vh;
width: 40vw;
}

.bloco{
padding-bottom: 20vh;
	}

}












