*{
padding-top: 0;
margin-top: 0;
}

body{
text-align: center;
background:  url(Imagens/cosmo2.jpg) no-repeat center fixed;
background-size: 1000px 1800px;
background-attachment: fixed
}

body
{color: white
}

#aviso{
color: #FFFF66;
}

#aviso2{
font-size: 70px;
}

p{
text-align: left;
}

header{
font-size: 50px;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 20px;
margin-bottom: 20px;
display: inline-block;
}

header a{
color: #FFFFFF;
text-decoration: none;
font-size: 50px;
}

#menu_personagens li{
display: inline-block;
padding-right: 30px;
padding-bottom: 0;
padding-top: 20px;
font-size: 20px;
}

#menu_personagens h1{
padding-top: 20px;
}

#menu_personagens img{
border: 10px solid DarkBlue;
}

.padding_bottom{
padding-bottom: 200px;
}

.lista{
margin: auto;
width: 60%;
padding-top: 50px;
}

.lista li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 20px;
margin-bottom: 20px;
display: block;
block-size:50px;
width: 500px;
}

.lista a{
color: #FFFFFF;
text-decoration: none;
padding: 0;
font-size: 48px;
}






