*{
padding-top: 0;
margin-top: 0;
}

body{
text-align: center;
background:  url(Imagens/cosmo3.jpg) no-repeat center fixed;
background-size: 1200px 1800px;
background-attachment: fixed
background-color: black;
}

body{
color: white
}

p{
text-align: left;
}

nav{
font-size: 50px;
}

header li{
background: SaddleBrown;
border: 5px solid #C19A6B;
padding: 20px;
margin-bottom: 20px;
display: inline-block
}
header a{
color: #FFFFFF;
text-decoration: none;
}
