body
{
text-align: center;
background: #000
color: #FFF;
background:  url(Imagens/cosmo3.jpg) no-repeat 50% 30px;
background-size: 1000px 1800px;
background-attachment: fixed
}

body
{color: white
}

p
{
text-align: left;
}
